{{ define "main" }}

    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            {{i18n .Title}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{$a:="Tags"}}
        {{if (eq $a .Title)}}
            <div style="margin:40px">
                {{ range sort .Paginator.Pages "Title"}}
                    <span class="post-item-wrapper"> 
                        <a href="{{.Permalink}}">
                            {{.Title}}
                            <sup>{{len .Pages }}</sup>
                        </a>
                    </span>
                {{end}}
            </div>
        {{else}}
            {{ range sort .Paginator.Pages "Title"}}
                <a href="{{.Permalink}}" class="a-block">
                    <div class="post-item-wrapper">
                        <div class="post-item post-item-no-gaps">
                            <div class="post-item-info-wrapper"> 
                                <div class="post-item-title">
                                    {{.Title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {{ end }}
        {{end}}
    </div>


{{ end }}